In [1]:
import pandas as pd
import requests

In [2]:
#average cost of college by state #2
st_loans = 'https://www.valuepenguin.com/average-student-loan-debt#state'

In [4]:
# Retrieve page with the requests module
response = requests.get(st_loans)

In [5]:
cost_tables = pd.read_html(response.text)
cost_tables

[    Year   Total Balance Year-Over-Year Change
 0   2004    $345 billion                     -
 1   2005    $391 billion                   13%
 2   2006    $481 billion                   23%
 3   2007    $547 billion                   14%
 4   2008    $639 billion                   17%
 5   2009    $721 billion                   13%
 6   2010    $811 billion                   13%
 7   2011    $873 billion                    8%
 8   2012    $965 billion                   11%
 9   2013  $1,079 billion                   12%
 10  2014  $1,155 billion                    7%
 11  2015  $1,231 billion                    7%
 12  2016  $1,316 billion                    7%
 13  2017  $1,386 billion                    5%,
    Rank                 State % of Residents with Debt Average Debt
 0     8               Alabama                      50%      $31,899
 1    40                Alaska                      46%      $25,682
 2    44               Arizona                      54%      $23,967
 3    34              Arkansas                      55%      $26,799
 4    46            California                      50%      $22,785
 5    36              Colorado                      52%      $26,530
 6     1           Connecticut                      57%      $38,510
 7     5              Delaware                      62%      $34,144
 8    15  District Of Columbia                      46%      $30,775
 9    43               Florida                      50%      $24,041
 10   25               Georgia                      57%      $28,653
 11   42                Hawaii                      49%      $25,125
 12   35                 Idaho                      61%      $26,675
 13   24              Illinois                      61%      $29,214
 14   22               Indiana                      57%      $29,561
 15   20                  Iowa                      63%      $29,859
 16   29                Kansas                      59%      $27,720
 17   27              Kentucky                      64%      $28,447
 18   31             Louisiana                      48%      $27,210
 19   10                 Maine                      56%      $31,364
 20   23              Maryland                      56%      $29,314
 21    7         Massachusetts                      59%      $32,065
 22   11              Michigan                      58%      $31,289
 23    9             Minnesota                      68%      $31,734
 24   18           Mississippi                      58%      $30,439
 25   32              Missouri                      58%      $27,108
 26   26               Montana                      59%      $28,466
 27   39              Nebraska                      54%      $25,750
 28   48                Nevada                      49%      $22,064
 29    4         New Hampshire                      74%      $34,415
 30    6            New Jersey                      61%      $32,247
 31   49            New Mexico                      54%      $21,237
 32   13              New York                      60%      $30,931
 33   37        North Carolina                      57%      $26,526
 34    -         North Dakota*                        -            -
 35   17                  Ohio                      62%      $30,629
 36   38              Oklahoma                      49%      $25,952
 37   28                Oregon                      56%      $27,885
 38    2          Pennsylvania                      67%      $36,854
 39    3          Rhode Island                      64%      $36,250
 40   14        South Carolina                      58%      $30,891
 41   12          South Dakota                      74%      $31,275
 42   41             Tennessee                      56%      $25,252
 43   33                 Texas                      55%      $26,824
 44   50                  Utah                      38%      $18,838
 45   16               Vermont                      60%      $30,651
 46   19              Virginia                      56%      $29,887
 47   45            Washington                      52%      $23,936
 48   30         West Virginia                      74%      $27,505
 49   21             Wisconsin                      64%      $29,569
 50   47               Wyoming                      47%      $22,524,
     Year Under 30 (billions) 30-39 (billions) 40-49 (billions)  \
 0   2004              $147.8           $112.3            $48.7
 1   2005              $162.4           $127.6            $56.4
 2   2006              $196.3           $154.8            $69.8
 3   2007              $219.8           $174.5            $80.0
 4   2008              $250.9           $205.4            $94.4
 5   2009              $275.9           $232.2           $109.0
 6   2010              $301.2           $261.2           $128.5
 7   2011              $316.4           $282.0           $141.7
 8   2012              $322.7           $320.2           $167.3
 9   2013              $362.0           $354.1           $188.1
 10  2014              $370.5           $383.1           $207.6
 11  2015              $376.4           $408.4           $229.6
 12  2016              $383.2           $437.4           $255.6
 13  2017              $383.8           $461.0           $278.9

    50-59 (billions) 60+ (billions)
 0             $29.5           $6.3
 1             $36.4           $8.2
 2             $48.2          $12.2
 3             $56.4          $15.9
 4             $67.6          $20.4
 5             $78.5          $25.3
 6             $89.6          $30.8
 7             $97.0          $35.4
 8            $111.3          $43.0
 9            $124.9          $49.8
 10           $136.5          $57.7
 11           $149.7          $66.7
 12           $163.2          $76.3
 13           $177.2          $85.4  ,
        Loan Type Dollars Outstanding Number of Borrowers
 0   Direct Loans    $1,163.3 billion        34.5 million
 1     FFEL Loans      $277.0 billion        13.1 million
 2  Perkins Loans        $6.9 billion         2.2 million
 3         Total*    $1,447.1 billion          43 million,
                Loan Type Dollars Outstanding Number of Borrowers
 0    Stafford subsidized      $276.8 billion        29.7 million
 1  Stafford unsubsidized      $490.9 billion        28.3 million
 2      Stafford combined      $767.7 billion       33.3 million*
 3              Grad PLUS       $71.3 billion         1.5 million
 4            Parent PLUS       $89.8 billion         3.6 million
 5                Perkins        $6.9 billion         2.2 million
 6          Consolidation      $515.6 billion        11.8 million,
    Year Dollars Outstanding
 0  2014       $91.8 billion
 1  2015       $99.7 billion
 2  2016      $102.3 billion
 3  2017      $113.2 billion]

In [6]:
type(cost_tables)

list

In [7]:
cost_df = cost_tables[1]
cost_df.head()

  Rank       State % of Residents with Debt Average Debt
0    8     Alabama                      50%      $31,899
1   40      Alaska                      46%      $25,682
2   44     Arizona                      54%      $23,967
3   34    Arkansas                      55%      $26,799
4   46  California                      50%      $22,785